$color-yellow: #fec007;
$color-red: #ff0000;
$color-black: #000;
$color-white: #fff;
$color-gray: #848484;

$background-primary: #16181d;
$background-secondary: #202020;

$font-primary: "Roboto", sans-serif;
